<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>开业大吉</title>
</head>
<body>
    <h1>开业大吉</h1>
    <form action="{% url 'stores:add' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        店铺名称：<input type="text" name="name"> <br>
        店铺封面：<input type="file" name="cover" id="cover"> <br>
        店铺介绍 <textarea name="intro" id="intro" cols="30" rows="10"></textarea> <br>
        <input type="submit" value="开业大吉">
    </form>
</body>
</html>